/* Template 19 ---------------------------------- */
.invoice_style19 {
    .total-table2 {
        margin-bottom: 8px;
    }
}

hr.style2 {
    margin-top: 8px;
    margin-bottom: 12px;
    background-color: $border-color;
    opacity: 1;
}