<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-09-14T13:00:03Z</date>
	<key>WorkspacePath</key>
	<string>/Applications/XAMPP/xamppfiles/htdocs/application/wofins/ios/Wofins.xcodeproj</string>
</dict>
</plist>
